body {
    background-color: #000000;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #000000;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; /* Alinhado ao conteúdo principal da página */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #b5bab8;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #333333;
    text-decoration: none;
}

.language-selector {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
}

.language-selector button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.language-selector button:hover {
    background-color: #000000;
}

.language-selector button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.home {
    width: 40%; /* Alinhado com o cabeçalho */
    margin: 260px auto 0 auto; /* Margem superior ajustada */
}

main {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    flex: 1;
}


.home p{
    font-size: small;
    color: #808d88;
    margin-top: -20px;
}

.content {
    width: 80%; /* Use uma porcentagem maior para telas menores */
    max-width: 1200px; /* Limite a largura máxima */
    margin: 50px auto 0 auto;
    padding: 0 10px; /* Adicione um pouco de padding para telas menores */
}

h1 {
    text-align: left;
}

img {
    border-radius: 5%;
}

.image-text-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
}

.image-container {
    width: 100%; /* Ajuste para 100% para telas menores */
    max-width: 300px; /* Limite a largura máxima */
    height: auto; /* Ajuste a altura automaticamente */
    flex-shrink: 0;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.text-container {
    width: 100%; /* Ajuste para 100% para telas menores */
    max-width: 390px; /* Limite a largura máxima */
    height: 100%; /* Ajuste a altura automaticamente */
    flex-shrink: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.biography {
    margin-top: 30px;
}

.biography-text {
    font-style: italic;
}

.career {
    margin-top: 50px;
}

.career a {
    font-size: medium;
    color: #808d88;
}

.career p {
    font-size: small;
    margin-top: -2px;
    margin-bottom: -2px;
    color: #808d88;
}

.career h3 {
    margin-bottom: -4px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.skillset{
    margin-top: 50px;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.skill-item {
    text-align: center;
    flex: 1 1 22%; /* Ajuste a largura conforme necessário */
    max-width: 25%; /* Garante que não ultrapasse 4 itens por linha */
    margin: 10px;
}

.skill-item img {
    width: 32px; /* Ajuste o tamanho conforme necessário */
    height: 32px; /* Ajuste o tamanho conforme necessário */
    display: block;
    margin: 0 auto;
}

.skill-item span {
    display: block;
    margin-top: 5px; /* Ajuste conforme necessário */
    font-size: 14px; /* Ajuste conforme necessário */
    color: #808d88; /* Ajuste conforme necessário */
}


.skill-item:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
}

.certificates {
    margin-top: 50px;
}

.certificates a {
    font-size: medium;
    color: #808d88;
}

.certificates p {
    font-size: small;
    margin-top: -2px;
    margin-bottom: -2px;
    color: #808d88;
}

.certificates h3 {
    margin-bottom: -4px;
    display: flex;
    align-items: center;
}

.institution-logo {
    width: 30px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin-right: 10px;
}

.contatos p{
    color: #808d88;
    margin-top: -10px;
    margin-bottom: 10px;
}

.contato a {
    font-size: medium;
    color: #808d88;
}

.contato p {
    font-size: small;
    margin-top: -2px;
    margin-bottom: -4px;
    color: #808d88;
}

.contato h3 {
    margin-top: 15px;
    margin-bottom: -2px;
}

.projeto {
    background-color: #201e1e;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.projeto:hover {
    transform: scale(1.02);
}

/* Project title */
.projeto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
}

.projeto h3 i {
    margin-right: 10px;
    color: #007bff;
}

/* Project link */
.projeto a {
    font-size: 1em;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.projeto a:hover {
    text-decoration: underline;
}

/* Project description */
.projeto p {
    font-size: 1em;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 10px;
}

/* Tags */
.projeto p:last-child {
    font-size: 0.9em;
    color: #777;
    margin-top: 10px;
}

footer {
    background-color: #000000;
    padding: 20px 0;
    text-align: center;
    flex-shrink: 0;
}

.social-links a {
    color: #ffffff;
    font-size: 18px;
    margin: 0 10px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #ffffff;
}

.button-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.button-container button {
    background-color: #000000;
    color: white;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-container button:hover {
    background-color: #333333;
}

/* Media Query para telas menores */
@media (min-width: 768px) {
    .content {
        width: 60%;
    }

    .image-container, .text-container {
        width: 48%;
    }
}

@media (min-width: 1024px) {
    .content {
        width: 40%;
    }

    .image-container, .text-container {
        width: 45%;
    }
}


/* Responsividade */
@media (max-width: 768px) {
    .skill-item {
        flex: 1 1 45%; /* Ajuste a largura para dispositivos móveis */
        max-width: 45%;
    }
}


/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
    .home{
        margin-top: 50px;
    }

    nav {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin: 5px 0; /* Reduz o espaço entre as opções de navegação */
    }

    .language-selector {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .language-selector button {
        margin-top: 5px;
        padding: 5px;
        font-size: 0.8em; /* Reduz o tamanho dos botões */
    }
    .home{
        width: 40%; /* Alinhado com o cabeçalho */
        margin: 200px auto 0 auto; /* Margem superior ajustada */
    }
}